body,html {
  color: #2a2a2a;
}

@font-face {
  font-family: 'helveticaregular';
  src: url('fonts/helvetica-webfont.woff2') format('woff2'),
    url('fonts/helvetica-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: 'IBM Plex Mono';
  padding-bottom: 2em;
  padding-top: 2em;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mod-title {
  font-family: 'IBM Plex Mono';
}

.title a {
  text-decoration: none;
  color: #2a2a2a;
}

#popUpNav.menu {
  display: none;
  width: 550px;
  margin: 0 auto;
  position: absolute;
  z-index: -999;
  overflow: visible;
  font-family: "helveticaregular";
}

#popUpNav.menu footer-nav {
  display: inline-block;
  text-align: center;
}

#popUpNav.menu h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.7em;
}

#popUpNav.menu a {
  text-decoration: none;
  color: #ef504d;
}

#popUpNav.menu a:hover {
  text-decoration: underline;
}

.container {
  width: 550px;
  margin: 0 auto;
}

#wrapper {
  display: block;
}

img.meme {
  width: 100%;
}

img.trends {
  width: 70%;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img.artikel-terbanyak {
  width: 100%;
}

#wrapper p {
  text-align: justify;
  font-family: "helveticaregular";
}

#wrapper h2, h3 {
  font-family: "helveticaregular";
}

#wrapper h1 {
  padding-top: 0;
  margin-top: 0;
  font-family: "helveticaregular";
  font-size: 2.5em;
}

#wrapper a {
  text-decoration: none;
  color: #ef504d;
  font-family: "helveticaregular";
}

#wrapper a:hover {
  text-decoration: underline;
}

#wrapper h4 {
  font-family: "helveticaregular";
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.caption {
  font-family: 'IBM Plex Mono';
  font-size: 0.8em;
  padding-bottom: 0.4em;
}

p {
  line-height: 1.7;
}

.item {
  text-align: left;
  color: #2a2a2a;
  width: 100%;
  font-family: 'helveticaregular';
}

.item-mod {
  margin-top: -50px;
}

.footer {
  font-family: 'helveticaregular';
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1em;
  border-top: 1px solid #ccc;
}

.footer p {
  padding-right: 1em;
  font-size: 8pt;
}

/* RESPONSIVE DI SINI */
@media only screen and (max-width: 600px) {
  html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }

  .container {
    width: 90%;
  }

  .title a {
    width: auto;
  }

  .title a {
    padding-right: 1em;
  }

  .title nav {
    margin-top: 5px;
  }

  .chart-container {
    position: relative;
    margin: auto;
    margin-bottom: -35px;
    width: 90%;
  }

  #popUpNav.menu {
    width: 90%;
    margin: 0 auto;
    position: absolute;
    z-index: 999;
    overflow: visible;
    font-family: "helveticaregular";
  }

  .item-mod {
    margin-top: -120px;
  }
}
