html, body, #wrapper {
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #ef504d;
}

#wrapper td {
    vertical-align: middle;
    text-align: center;
 }

 #typed {
     font-weight: bolder;
     padding: 0.5em;
     background-color: white;
     font-family: 'VT323', monospace;
     font-size: 14pt;
 }

 p a {
     text-decoration: none;
     color: white;
 }
 
 @media only screen and (max-width: 600px) {
   img {
     width: 100%;
   }
 }